.landing-flex {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 5rem;
}

.crypto-monitor-text,
.real-time-text {
  font-size: 6.5rem;
  margin: 1rem 0;
  padding: 0;
  line-height: 1.2;
}

.crypto-monitor-text {
  color: var(--white);
  -webkit-text-stroke-color: var(--white);
}
.crypto-monitor-text:hover {
  color: var(--black);
  -webkit-text-stroke-color: var(--white);
  -webkit-text-stroke-width: 2px;

  transition: all 0.3s;
}

.real-time-text {
  color: var(--orange);
}

.info {
  font-size: 1.2rem;
  color: var(--grey);
}

.landing-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.iphone {
  min-height: 300px;
  position: relative;
  z-index: 10;
  width: 350px;
  margin-top: 0.6rem;
}

.gradient {
  top: 9rem;
  right: 6rem;
  margin: 0;
  position: absolute;
  width: 270px;
  height: 550px;
  border-radius: 20px;
}

@media only screen and (max-width: 1250px) {
  .landing-flex {
    width: 100%;
    margin: auto;
  }
  .crypto-monitor-text,
  .real-time-text {
    font-size: 4.5rem;
  }
  .info {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  .landing-flex {
    width: 100vw;
    flex-direction: column;
    padding: 0 5px !important;
    margin: 0px 1px;
  }
  .crypto-monitor-text,
  .real-time-text {
    font-size: 4.5rem;
  }
  .info {
    font-size: 1rem;
  }

  .iphone {
    min-height: 300px;
    position: relative;
    z-index: 10;
    width: 350px;
    top: 2rem; /* Adjust based on your layout */
    right: -1rem;
  }
  .gradient {
    position: absolute;
    top: 32rem; /* Adjust based on your layout */
    right: 2rem; /* Adjust based on your layout */
    margin: 0;
    width: 270px;
    height: 550px;
    border-radius: 20px;
    /* Additional styles for visual appearance */
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Example background color with transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Example box shadow */
  }
  .landing-btn {
    margin-bottom: 3rem !important;
    margin-left: 3rem;
  }
  .left-component {
    font-size: 20px;
    text-align: center !important;
  }
  .right-component {
    margin: auto;
  }

  .crypto-monitor-text {
    font-size: 60px;
  }

  .real-time-text {
    font-size: 60px;
  }
}

@media only screen and (width: 768px) {
  .landing-flex {
    margin: auto;
    width: 768 !important; /* or 100% depending on your requirement */
  }

  .landing-flex {
    margin: auto !important;
    padding-left: 8rem !important;
  }
  .iphone {
    min-height: 300px;
    position: relative;
    z-index: 10;
    width: 350px;
    top: 2rem; /* Adjust based on your layout */
    right: 3rem;
  }
  .gradient {
    position: absolute;
    top: 30rem; /* Adjust based on your layout */
    right: 13rem; /* Adjust based on your layout */
    margin: 0;
    width: 270px;
    height: 550px;
    border-radius: 20px;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Example background color with transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Example box shadow */
  }
  .landing-btn {
    margin-bottom: 3rem !important;
    margin-left: 9rem;
  }
}
